<div class="jumbotron">
  <h1>Help on Health</h1>
  <p>Help on Health is the platform to ask the health related queries and get solution for it.</p>
  <h2>Become a healthier you by joining the conversation on <%= link_to "Discussion",main_app.forem_path %></a> forum</h2>
  <%= image_tag("rss.png", :alt => "rss feed") %>
  

  
</div>